.container{
  width: 100%;
}

.container .inicio{
  width: 450px;
  height: 380px;
}

.row.inicio{
  width: 100%;
  height: auto;
  margin: 20px 0;
}

.row.inicio .image, .row.inicio .text{
  width: 49%;
  display: inline-block;
}

.row.inicio .image{
  vertical-align: top;
}

table{
  margin: 20px 0;
}

table tr td:last-child{
  text-align: center;
}

#sidebar-wrapper .sidebar-nav{
  height: 100%;
}

#sidebar-wrapper .sidebar-nav span{
  position: absolute;
    bottom: 0;
    color: #999;
    font-size: 11px;
    margin: 15px;
}
